{% extends "base.html" %}

{% block content %}
<h1>물품 정보</h1>

    <h3>물품명 : {{ article.title }}</h3>
    <p>세부 설명 : {{ article.content }}</p>
    <p>등록 시간 : {{ article.created_at }}</p>
    {% if article.image %}
		<img src="{{ article.image.url }}">
    {% endif %}


    <a href="{% url 'articles' %}">목록으로</a><br><br>
    <a href="{% url 'create' %}"><button>수정</button></a>
    <form action="{% url 'delete' article.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>


{% endblock content %}